/* set background for full page*/
html{
    background:#5A9367;
}
/* Hover happens anywhere on page, the spider goes upward*/
html:hover .spider {
    top: -120%;
}
/*The spiders hanging web line*/
.spiderweb {
    background:black;
    width:2px;
    height:200px;
    margin-left: 49px;
    transition: 1s ease-in-out;
}
/* spiders container: controls position and swinging animation*/
.spider {
    position: absolute;
    display: inline-block;
    top:0;
    left:30%;
    animation: swing 2s infinite;
    transform-origin: top;
}
/* Spiders body*/
.spider .body{
    width:100px;
    height: 80px;
    background:#000;
    position: relative;
    border-radius:50%;
}
/*Spiders eyes*/
.spider .body .eye {
    width:33px;
    height: 33px;
    background:#fff;
    position: absolute;
    bottom:20px;
    border-radius: 50%;
}
/* right and left eye positions*/
.spider .eye.right {
    right: 15px;
}

.spider .eye.left{ 
    left: 15px;
}
/*eye pupils (moving and blinking*/
.spider .eye::after{
    background: #000;
    width: 7px;
    height: 7px;
    content: '';
    display: block;
    margin: 55%;
    border-radius: 50%;
    animation: look 8s infinite,blink 4s infinite;
}
/*makes all legs wiggle */
.legs .leg {
    animation: wiggle 2s infinite ease-in-out;
}
/* legs container holding 3 legs each*/
.spider .legs{
    position: absolute;
    bottom: -10%;
    z-index:-1; /* puts legs below the body*/
}
/* shape of the legs*/
.spider .legs .leg{
    width:80px;
    height: 40px;
    margin-top: -20px;
    border: 5px solid transparent;
    border-top-color: #000;
    border-radius: 40px 40px 0 0;
}
/* position legs group*/
.spider .legs.left{
    left:-70%;
}

.spider .legs.right{
    right:-60%;
}
/*Left legs angle and spacing for each of them*/
.legs.left .leg:nth-child(1){
    transform:rotate(10deg);
    margin-left:10px;
}
.legs.right .leg:nth-child(1){
    transform:rotate(-10deg);
    margin-left:-10px;
}

.legs.left .leg:nth-child(2){
    transform:rotate(-20deg);
    margin-left: 20px;
}

.legs.right .leg:nth-child(2){
    transform:rotate(20deg);
    margin-left: -20px;
}

.legs.left .leg:nth-child(3){
    transform:rotate(-50deg);
    margin-left:30px;
}

.legs.right .leg:nth-child(3){
    transform:rotate(50deg);
    margin-left:-30px;
}
/*eye looking animation */
@keyframes look{
    0%,40%,100%{
        transform:translateX(0);
    }
    45%,95%{
        transform:translateX(-110%);
    }
}
/* spider swinging animation*/ 
@keyframes swing{
    0%,100%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-20px);
    }
}
/* eye blinking animation*/
@keyframes blink {
    0%, 2%, 60%, 62%, 100% {
        transform: scaleY(1);
    }
    1%, 61% {
        transform: scaleY(0.1);
    }
}
/*legs wiggle animation */
@keyframes wiggle {
    0%, 100% { transform: rotate(0deg); }
    50% { transform: rotate(8deg); }
}